In [8]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [19]:
data1=pd.read_csv('resultat_jointure.csv')
data2=pd.read_csv('resultat_jointure_nettoye.csv')

In [22]:
data2.columns

Index(['temperature_en_chiffre', 'humidity_en_chiffre',
       'temperature_en_chiffre_2days_left', 'humidity_en_chiffre_2days_left',
       'Wingspan_ft_without_winglets_sharklets',
       'Wingspan_ft_with_winglets_sharklets', 'Length_ft',
       'Tail_Height_at_OEW_ft', 'Wheelbase_ft', 'Cockpit_to_Main_Gear_ft',
       'Main_Gear_Width_ft', 'STD', 'Type', 'Fluid', 'Water', 'OAT',
       'OneStep Fluid', 'TwoStep I Fluid', 'TwoStep II Fluid',
       'deicing_time_minutes', 'meteo_numerical', 'CARRIER_AEG', 'CARRIER_AHO',
       'CARRIER_AP', 'CARRIER_ATL', 'CARRIER_BV', 'CARRIER_CAR', 'CARRIER_CCC',
       'CARRIER_DC', 'CARRIER_EJM', 'CARRIER_EN', 'CARRIER_ENT', 'CARRIER_EUR',
       'CARRIER_EW', 'CARRIER_EXC', 'CARRIER_FR', 'CARRIER_FRD', 'CARRIER_GA',
       'CARRIER_GAC', 'CARRIER_GTI', 'CARRIER_IFM', 'CARRIER_IG',
       'CARRIER_JDI', 'CARRIER_KLC', 'CARRIER_LH', 'CARRIER_LO', 'CARRIER_LP',
       'CARRIER_LPR', 'CARRIER_LS', 'CARRIER_LX', 'CARRIER_NJE', 'CARRIER_OY',
       'CARRIER_PL', 'CARRIER_ROY', 'CARRIER_SCH', 'CARRIER_SK', 'CARRIER_SRN',
       'CARRIER_STR', 'CARRIER_SWT', 'CARRIER_TOY', 'CARRIER_UPS',
       'CARRIER_USA', 'CARRIER_VJT', 'CARRIER_W6', 'CARRIER_WIL', 'CARRIER_WR',
       'Month', 'Year'],
      dtype='object')

In [17]:
data1=data1.dropna()

In [41]:
a=data1.columns
b=data2.columns

for el in a:
    if not el in b:
        print(el)

Start
FAA_Designator
ACMARK
ACTYPE
FLIGHT
CARRIER
DATE
ATD
Meteo
Finish
Duration

In [34]:
data1=data1.drop(['Unnamed: 24','DeicingID','OrderID','Remark'],axis=1)

In [30]:
data1['Wingspan_ft_without_winglets_sharklets']=data2['Wingspan_ft_without_winglets_sharklets']
data1['Wingspan_ft_with_winglets_sharklets']=data2['Wingspan_ft_with_winglets_sharklets']

In [40]:
data1.isnull().sum()[data1.isnull().sum()>0]

Wingspan_ft_without_winglets_sharklets     432
Wingspan_ft_with_winglets_sharklets        432
Length_ft                                  244
Tail_Height_at_OEW_ft                      244
Wheelbase_ft                               244
Cockpit_to_Main_Gear_ft                    244
Main_Gear_Width_ft                         244
ATD                                          5
OneStep Fluid                              491
TwoStep I Fluid                           1596
TwoStep II Fluid                          1603
dtype: int64

In [36]:
def Existing_distribution_complete(db,*args):

    for i , column in enumerate(args):

        existing_values=db[column].dropna()

        random_values = np.random.choice(existing_values, size=db[column].isna().sum())

        db.loc[db[column].isna(), column] = random_values

In [39]:
Existing_distribution_complete(data1,'FAA_Designator','ACMARK','ACTYPE','FLIGHT')

In [42]:
a=data1.columns
b=data2.columns

for el in a:
    if not el in b:
        print(el)

Start
FAA_Designator
ACMARK
ACTYPE
FLIGHT
CARRIER
DATE
ATD
Meteo
Finish
Duration

In [43]:
data2['Start']=data1['Start']
data2['FAA_Designator']=data1['FAA_Designator']
data2['ACMARK']=data1['ACMARK']
data2['ACTYPE']=data1['ACTYPE']
data2['FLIGHT']=data1['FLIGHT']
data2['CARRIER']=data1['CARRIER']
data2['DATE']=data1['DATE']
data2['ATD']=data1['ATD']
data2['Meteo']=data1['Meteo']
data2['Finish']=data1['Finish']
data2['Duration']=data1['Duration']

In [48]:
data2.isnull().sum()[data2.isnull().sum()>0]

Series([], dtype: int64)

In [47]:
data2=data2.dropna()

In [49]:
data2.to_csv("data.csv")

In [50]:
data2.columns

Index(['temperature_en_chiffre', 'humidity_en_chiffre',
       'temperature_en_chiffre_2days_left', 'humidity_en_chiffre_2days_left',
       'Wingspan_ft_without_winglets_sharklets',
       'Wingspan_ft_with_winglets_sharklets', 'Length_ft',
       'Tail_Height_at_OEW_ft', 'Wheelbase_ft', 'Cockpit_to_Main_Gear_ft',
       'Main_Gear_Width_ft', 'STD', 'Type', 'Fluid', 'Water', 'OAT',
       'OneStep Fluid', 'TwoStep I Fluid', 'TwoStep II Fluid',
       'deicing_time_minutes', 'meteo_numerical', 'CARRIER_AEG', 'CARRIER_AHO',
       'CARRIER_AP', 'CARRIER_ATL', 'CARRIER_BV', 'CARRIER_CAR', 'CARRIER_CCC',
       'CARRIER_DC', 'CARRIER_EJM', 'CARRIER_EN', 'CARRIER_ENT', 'CARRIER_EUR',
       'CARRIER_EW', 'CARRIER_EXC', 'CARRIER_FR', 'CARRIER_FRD', 'CARRIER_GA',
       'CARRIER_GAC', 'CARRIER_GTI', 'CARRIER_IFM', 'CARRIER_IG',
       'CARRIER_JDI', 'CARRIER_KLC', 'CARRIER_LH', 'CARRIER_LO', 'CARRIER_LP',
       'CARRIER_LPR', 'CARRIER_LS', 'CARRIER_LX', 'CARRIER_NJE', 'CARRIER_OY',
       'CARRIER_PL', 'CARRIER_ROY', 'CARRIER_SCH', 'CARRIER_SK', 'CARRIER_SRN',
       'CARRIER_STR', 'CARRIER_SWT', 'CARRIER_TOY', 'CARRIER_UPS',
       'CARRIER_USA', 'CARRIER_VJT', 'CARRIER_W6', 'CARRIER_WIL', 'CARRIER_WR',
       'Month', 'Year', 'Start', 'FAA_Designator', 'ACMARK', 'ACTYPE',
       'FLIGHT', 'CARRIER', 'DATE', 'ATD', 'Meteo', 'Finish', 'Duration'],
      dtype='object')

In [68]:
data2.shape

(1701, 79)

In [53]:
a='CARRIER_PL'

In [101]:
a.startswith('CARRIER_')

True

In [55]:
a.split('CARRIER_')[1]

'PL'

In [105]:

f=np.vectorize(lambda x : x.startswith('CARRIER_'))

In [106]:
f(data2.columns.to_numpy())

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [108]:
a=data2.columns[f(data2.columns.to_numpy())]

In [116]:
db=data2[a]

In [121]:
carrier=pd.DataFrame(columns=['CARRIER'])

In [125]:
l=[]
for i in range(data2.shape[0]):
    for column in db.columns:
        if db[column].iloc[i]:
            el=column.split('CARRIER_')[1]
            l.append(el)

l=np.array(l)

In [126]:
carrier['CARRIER']=l

In [135]:
carrier['CARRIER'].isnull().sum()

0

In [128]:
data2['CARRIER']=carrier['CARRIER']

In [129]:
data2=data2.drop(db.columns,axis=1)

In [139]:
data2.isnull().sum()

temperature_en_chiffre                    0
humidity_en_chiffre                       0
temperature_en_chiffre_2days_left         0
humidity_en_chiffre_2days_left            0
Wingspan_ft_without_winglets_sharklets    0
Wingspan_ft_with_winglets_sharklets       0
Length_ft                                 0
Tail_Height_at_OEW_ft                     0
Wheelbase_ft                              0
Cockpit_to_Main_Gear_ft                   0
Main_Gear_Width_ft                        0
STD                                       0
Type                                      0
Fluid                                     0
Water                                     0
OAT                                       0
OneStep Fluid                             0
TwoStep I Fluid                           0
TwoStep II Fluid                          0
deicing_time_minutes                      0
meteo_numerical                           0
Month                                     0
Year                                      0
Start                                     0
FAA_Designator                            0
ACMARK                                    0
ACTYPE                                    0
FLIGHT                                    0
CARRIER                                   0
DATE                                      0
ATD                                       0
Meteo                                     0
Finish                                    0
Duration                                  0
dtype: int64

In [140]:
data2.to_csv("data.csv")

In [146]:
from datetime import datetime


atd=datetime.strptime(data2['ATD'].iloc[2], '%d.%m.%Y %H:%M').time()

In [148]:
data2['ATD'].iloc[2]

'02.01.2020 06:15'

In [147]:
atd

datetime.time(6, 15)

In [145]:
date

datetime.date(2020, 1, 2)

In [152]:
data2.DATE

0       18.01.2020
1       02.01.2020
2       02.01.2020
3       02.01.2020
4       02.01.2020
           ...
1701    06.12.2023
1702    06.12.2023
1703    07.12.2023
1704    07.12.2023
1705    07.12.2023
Name: DATE, Length: 1701, dtype: object